@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Tinos", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url(img/fondo.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar contenido */
    position: relative; /* Asegurar que el menú se posicione correctamente */
    z-index: 1; /* Asegura que el header tenga un z-index bajo */
}

.menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: ;
    z-index: 2; /* Asegura que el menú tenga un z-index más alto */
}

.logo {
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Asegurar flexbox por defecto */
}

.menu .navbar ul li {
    position: relative;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
    text-decoration: none;
}

.menu .navbar ul li a:hover {
    color: #000000;
}

#menu-checkbox {
    display: none;
}

.menu-icono {
    width: 25px;
    cursor: pointer;
    display: none;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;

}
.proyecto{
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}
.proyecto-content {
    text-align: center;
}
.proyecto-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.proyecto-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.proyecto-1{
    padding: 0 25px;
}

.proyecto-1 img{
    width: 200px;
}
.proyecto-img {
    position: absolute;
    top: 0;
    right: o;
}
.proyecto-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}
.inicio{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(img/balckand.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
    
}
.inicio-content{
    text-align: center;

}
.inicio-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.inicio-content p{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}
.inicio-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.inicio-1{
    padding: 0 100px;
}
.inicio-1 img{
    width: 25px;
    margin-bottom: 15px;
}
.inicio-1 h3{
    color: #c5c5c5;
    font-size: 18px;
}
.general{
    display: flex;
}
.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;

}
.general-2{
    background-image: url(img/balckand.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-3{
    background-image: url(img/balckand.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}
p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}
.blog{
    padding: 100px 0;
    text-align: center;
}
.blog-content{
    display: flex;
    justify-content: space-between;
}
.blog-1{
    padding: 15px 55px;
}
.blog-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.blog-1 h3{
    font-size: 25px;
    color: #323337;
}
.footer {
    padding: 100px 0;
    background-color: #000000;
    color: #ffffff; /* Color de texto blanco */
    text-align: center; /* Alinea el texto al centro */
}

.footer-container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
}

.link h3{
    font-size: 18px;
    color: #fffdfc;
    margin-bottom: 15px;
}
.link a{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}

@media (max-width: 991px) {
    .menu {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu label {
        display: block;
    }

    .menu .navbar {
        display: none;
        position: absolute;
        top: 60px; /* Ajustar si es necesario */
        right: 0;
        background-color: #323337;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
    }

    .menu .navbar ul {
        flex-direction: column;
        text-align: left;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu-checkbox:checked + label + .navbar {
        display: flex;
        z-index: 3; /* Asegura que el navbar desplegado esté encima del header */
    }

    .menu-icono {
        display: block;
    }

    .header-content p {
        padding: 0 20px;
    }

    .header-content h1 {
        font-size: 45px;
        line-height: 50px;
    }
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 100px 30px;
    }
    .header-content p{
        padding: 0;
    }
    .proyecto{
        padding: 30px;
    }
    .proyecto-content h2{
        padding: 0;
    }
    .txt-p{
        padding: 0;
    }
    .proyecto-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .proyecto-img{
        display: none;
    }
    .inicio{
        padding: 30px;
    }
    .inicio-content p{
        padding: 0;
    }
    .inicio-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .inicio-1{
        margin-bottom: 25px;
    
    }
    .general{
        flex-direction: column;
        
    }
    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .general-2, .general-3{
        display: none;
    }
    .blog{
        padding: 30px;
    }
    .blog-content{
        flex-direction: column;
    }
    .blog-1{
        padding: 0;
    }
    .footer{
        padding: 30px;
    }
    .footer-container{
        flex-direction: column;
        text-align: center;
    }


}
.header-contentcontainer2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn-3 {
    color: #000000;
    background-color: #c5c5c5;
    margin-top: 5px; /* Ajusta este valor según sea necesario para separar el botón del párrafo */
    font-size: 24px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}

.header-contentcontainer2 p {
    color: #ffffff;
    font-size: 16px; /* Tamaño de letra más pequeño */
    margin-bottom: 10px;  /* Ajusta este valor según sea necesario para separar el párrafo del botón */
    text-align: center; /* Centra el texto si es necesario */
    text-transform: uppercase;
}
   
iframe{
    margin-top: 15px;
    width: 80%;
    height: 500px;
    filter: grayscale(100%);
}
@media (max-width: 768px) {
    .btn-3 {
        font-size: 20px; /* Reduce el tamaño de la fuente */
        padding: 8px 16px; /* Reduce el relleno */
    }

    .header-contentcontainer2 p {
        font-size: 18px; /* Ajusta el tamaño de la letra del párrafo para pantallas pequeñas */
        margin-bottom: 12px; /* Ajusta el margen inferior */
    }

    iframe {
        width: 90%;
        height: 400px; /* Ajusta la altura del iframe */
    }
}

/* Media Query para pantallas menores o iguales a 480px */
@media (max-width: 480px) {
    .btn-3 {
        font-size: 18px; /* Reduce el tamaño de la fuente */
        padding: 6px 12px; /* Reduce el relleno */
    }

    .header-contentcontainer2 p {
        font-size: 16px; /* Ajusta el tamaño de la letra del párrafo para pantallas muy pequeñas */
        margin-bottom: 10px; /* Ajusta el margen inferior */
    }

    iframe {
        width: 100%;
        height: 300px; /* Ajusta la altura del iframe */
    }
}
.arte {
    padding: 100px;
    background-color: #414247;
    position: relative;
    min-height: 100vh;
  }
  
  .containerfoto {
    margin-top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  
  .masonry {
    column-count: 3;
    column-gap: 30px;
    max-width: 1000px;
    margin: auto;
  }
  
  .masonry img {
    width: 100%;
    margin-bottom: 30px;
    break-inside: avoid;
    border-radius: 10px;
  }
  
@media (max-width: 1200px) {
  .masonry {
    column-count: 2;
    column-gap: 20px;
  }

  .containerfoto {
    margin-top: 100px;
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .masonry {
    column-count: 1;
    column-gap: 10px;
  }

  .containerfoto {
    margin-top: 120px;
    margin: 20px;
    padding: 20px;
  }

  .masonry img {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .containerfoto {
    margin-top: 140px;
    margin: 10px;
    padding: 10px;
  }

  .masonry {
    max-width: 90%; /* Ajusta el ancho máximo de la galería */
  }

  .masonry img {
    margin-bottom: 10px;
    width: 100%; /* Asegura que las imágenes ocupen el 100% del contenedor */
  }
}
  
.tipologias{
    padding: 100px;
    background-color: #414247;
    position: relative;
    min-height: 100vh;
}
.cardcontainer{
    margin: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan */
    align-items: center;
    justify-content: center;
    padding: 50px;

   
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 350px; /* Ajusta el ancho de la tarjeta */
    height: 400px; /* Ajusta la altura de la tarjeta */
    margin: 20px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotatey(0deg);
    box-shadow: 0 5px 10px #000000;
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: rgba(0,0,0,.4);
    text-align: center;
}
.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(135, 135, 135);
    padding: 15px;
    color: #f9fafc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000000;
}
.card .back .link {
    border-top: solid 1px #f9fafc;
    height: 50px;
    line-height: 50px;
}
.card .back .link a{
    color: #f9fafc;
}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
@media (max-width: 768px) {
    .card {
        max-width: 100%; /* Tarjeta ocupa todo el ancho disponible */
        margin: 20px auto; /* Margen automático para centrar la tarjeta */
    }

    .card .back h3 {
        font-size: 20px; /* Ajusta el tamaño de fuente del título */
    }

    .card .back p {
        font-size: 14px; /* Ajusta el tamaño de fuente del párrafo */
    }
}

@media (max-width: 480px) {
    .card .front h3 {
        font-size: 16px;
    }

    .card .back h3 {
        font-size: 18px;
    }

    .card .back p {
        font-size: 12px;
    }
}
